/.editorconfig        export-ignore
/.gitattributes       export-ignore
/.github              export-ignore
/.gitignore           export-ignore
/.npmignore           export-ignore
/CLAUDE.md            export-ignore
/lint.sh              export-ignore
/renovate.json        export-ignore
/tests                export-ignore
